{
  "root": true,
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  // add your custom rules here
  "rules": {
    "no-param-reassign": ["error", {
      "props": true
    }],
    // allow optionalDependencies
    "import/no-extraneous-dependencies": "error",
    "arrow-parens": ["error", "always"],
    "no-use-before-define": "off",
    // Fixes to handle differences in UI vs API builds
    "import/no-unresolved": "off",
    "import/extensions": "off"
  }
}
